
 body, 
 html {
   width: 100%;
   height: 100%;
   font-family: 'Source Sans Pro';
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 700;
   padding-top: 7vh;
 }


 
 .btn-xl {
   padding: 1.25rem 2.5rem;
 }
 
 .content-section {
   padding-top: 7.5rem;
   padding-bottom: 7.5rem;
  
 }
 
 .content-section-heading h2 {
   font-size: 3rem;
 }
 
 .content-section-heading h3 {
   font-size: 1rem;
   text-transform: uppercase;
 }
 
 
 .text-faded {
   color: rgba(255, 255, 255, 0.7);
 }

 .callout {
   padding: 15rem 0;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 .callout h2 {
   font-size: 3.5rem;
   font-weight: 700;
   display: block;
   max-width: 30rem;
 }
 
 .portfolio-item {
   display: block;
   position: relative;
   overflow: hidden;
   max-width: 530px;
   margin: auto auto 1rem;
 }
 
 .portfolio-item .caption {
   display: flex;
   height: 100%;
   width: 100%;
   background-color: rgba(33, 37, 41, 0.2);
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 1;
 }
 
 .portfolio-item .caption .caption-content {
   color: #fff;
   margin: auto 2rem 2rem;
 }
 
 .portfolio-item .caption .caption-content h2 {
   font-size: 0.8rem;
   text-transform: uppercase;
 }
 
 .portfolio-item .caption .caption-content p {
   font-weight: 300;
   font-size: 1.2rem;
 }
 
 @media (min-width: 992px) {
   .portfolio-item {
     max-width: none;
     margin: 0;
   }
   .portfolio-item .caption {
     -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
     -webkit-clip-path: inset(0px);
     clip-path: inset(0px);
   }
   .portfolio-item .caption .caption-content {
     transition: opacity 0.25s;
     margin-left: 5rem;
     margin-right: 5rem;
     margin-bottom: 5rem;
   }
   .portfolio-item img {
     -webkit-transition: -webkit-clip-path 0.25s ease-out;
     -webkit-clip-path: inset(-1px);
     clip-path: inset(-1px);
   }
   .portfolio-item:hover img {
     -webkit-clip-path: inset(2rem);
     clip-path: inset(2rem);
   }
   .portfolio-item:hover .caption {
     background-color: rgba(255, 255, 255, 0.9);
     -webkit-clip-path: inset(2rem);
     clip-path: inset(2rem);
   }
 }
 
 footer.footer {
   padding-top: 5rem;
   padding-bottom: 5rem;
 }
 
 footer.footer .social-link {
   display: block;
   height: 4rem;
   width: 4rem;
   line-height: 4.3rem;
   font-size: 1.5em;
   background-color: black;
   transition: background-color 0.15s ease-in-out;
   box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
 }
 
 footer.footer .social-link:hover {
   background-color: #000000;
   text-decoration: none;
 }
 
 a {
   color: #1D809F;
 }
 
 a:hover, a:focus, a:active {
   color: #155d74;
 }
 
 .btn-primary {
   background-color: #1D809F !important;
   border-color: #1D809F !important;
   color: #fff !important;
 }
 
 .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
   background-color: #155d74 !important;
   border-color: #155d74 !important;
 }
 
 .btn-secondary {
   background-color: #000000 !important;
   border-color: #000000 !important;
   color: #fff !important;
 }
 
 .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
   background-color: #555555 !important;
   border-color: #555555 !important;
 }
 
 .btn-dark {
   color: #fff !important;
 }
 
 .btn {
   box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
   font-weight: 700;
 }
 
 .bg-primary {
   background-color: #1D809F !important;
 }
 
 .text-primary {
   color: #1D809F !important;
 }
 
 .text-secondary {
   color: #ecb807 !important;
 }

 .social-link {
     color: black;
 }

form { 
    margin: 0 auto; 
    width:1050px;
    text-align: center;
    width:100%;
      
}

.submit-btn {
       margin-top: 5vh;
      display: inline;

}

#contact-form {
  margin-left: 25vh;
  width: 100%;
}

#message-input{
height: 15vh;

}












 
 